.title-image {
  border-radius: 25%;
  margin-right: 5em;
  margin-top: 2em;
  display: block;
}

.title {
  text-align: center;
  margin: auto;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 5em;
  color: #17a2b8;
  padding-top: 2em;
}

.explore-maps {
  background-color: #17a2b8;
  border-color: #17a2b8;
  border-radius: 60%;
}

.login {
  background-color: #17a2b8;
  border-color: #17a2b8;
  border-radius: 60%;
}
