<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/info-window.scss" type="text/css" />

  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjwvQUlvnSLtKZlbDFKbFZoj2IriOF_XY&callback=initMap">
  </script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/appTemp.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script> -->
  <title>Wiki Map</title>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/fd87467771.js" crossorigin="anonymous"></script>
  <style type="text/css">
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      height: 100%;

    }
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }


    .gm-style-iw {
  background-color: rgb(237, 28, 36);
    border: 7px solid #36cee6;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    font-family: "Roboto" !important;
    font-size: 25px;
    font-weight: normal !important;
    text-align: center;
    top: 10px !important;
    width: 350px !important;
}

  .gm-style-iw:hover {
    border: 7px solid #17a2b8;
    color: #36cee6;
    background: #fff;
  }
  .remove-marker {
    padding: 10px;
  }

  .info-window {
    font-family: "Trebuchet MS";
    padding: 100px;
  }

  .btn {
    padding: 10px !important;
    margin: 2px;
  }

  textarea {
    /* padding: 3em; */
    border-radius: 10px;
  }

  nav {
    color: #17a2b8;
    position: fixed;
  }

  .marker-info {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

  }
  </style>
  <script>

  </script>
</head>
<body>
  <nav class="navbar">
    <a class="navbar-brand" href="/">
      <img src="https://freeiconshop.com/wp-content/uploads/edd/location-map-flat.png" width="30" height="30"
        class="d-inline-block align-top" alt="">
      Mapper
    </a>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="">SAVE <span class="sr-only">(current)</span></a>
      </li>
      </ul>
       <form class="form-inline" action="/logout" method="POST">
            <label for="logout">Logout:</label>
            <button type="submit" class="btn btn-danger">Logout</button></form>
  </nav>
  <div id="map"></div>
  <div>
  </div>
</body>
</html>
