#map {
  height: 800px;
  /* The hei'ght is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}


#sidebar {
  background-color: #EEE;
}
 d


// Button styling
.button {
  display: inline;
}
